body{
  margin: 0;
  background-color: pink;

}
.name{
  text-align: center;
}
.touxiang{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.hobby{
  width: 90%;
}
.name p{
  margin-left: 50px;
  text-align: left;
  color: blue;
}
h1{
  text-align: center;
}
.hometown p{
  margin-top: 0;
  display: inline-block;
  text-indent: 2em;


}
.school p{
  text-indent: 2em;
  color: blue;
}
.skills p{
  text-indent: 2em;
  color: blue;
}
.home1{
  width: 100%;
  height: 400px;
}
h2{
  text-align: left;
  font-size: 20px;

}
h3{
  text-align: left;
  font-size: 20px;
}
h4{
  text-align: left;
  font-size: 20px;
}
h5{
  text-align: left;
  font-size: 20px;
}
.school{
  width: 100%;
  height: 500px;
}
.photo{
  width: 100%;
  height: 500px;
}
.phot{
  width: 100%;

}
section{
  margin: 10px 5px;
}
nav{
  text-align: center;
}
a{
  color: green;
  text-decoration: none;
}
